$base-red: #bf0628;
$light-red: #D92b4b;
$text-color: #260101;
$base-white: white;

$font-stack-primary: 'Open Sans', sans-serif;
$font-stack-secondary: 'Staatliches', sans-serif;

$h1-font-size: 4.688rem;
$h2-font-size: 2.25rem;
$h3-font-size: 4.25rem;
$h4-font-size: 1.875rem;
$button-font-size: 1.5rem;
