@import "styles/variables";

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12.5rem;
    top: 0;
    width: 100%;
  }

  .main-image {
    margin: 0 0.625rem;
    max-width: 100%;
  }

  h2 {
    color: $base-red;
    font-family: $font-stack-secondary;
    font-size: $h2-font-size;
    font-weight: 400;
    margin: 0;
    margin-top: 1.25rem;
  }
}
