@import 'styles/variables';

.button-container {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;

  .icon {
    width: 30px;
    height: 30px;
  }
}

.is-disabled {
  opacity: 25%;
}

.button-container:not(.tab-outlining):focus {
  outline: none;
}

.tab-outlining:focus {
  outline-color: $base-red;
}
